*{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.artemis_webpage{
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.inicio{
    display: flex;
    margin-block-start: 0em;
    margin-block-end: auto;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 736px;
    height: 70px;
    background-color: rgb(37, 37, 37);
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.inicio img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1em;
    margin-right: 1em;
}

.conversacion{
    display: flex;
    flex-direction: column;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    height: 70%;
    overflow-y: scroll;
}

.human, .artemis{
    width: 600px;
    height: auto;
    background-color: rgb(37, 37, 37);
    padding: 1em;
    margin: 1em;
    border-radius: 16px;
    display: flex;
}

::-webkit-scrollbar{
    background-color: rgb(11, 11, 11);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(37, 37, 37);
    border-radius: 1em;
}

.artemis img{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 0.5em;
}

.human img{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    margin-right: 0.5em;
}

.entrada{
    margin: 2em;
    display: flex;
}

.entrada input{
    background-color: rgb(37, 37, 37);
    border: none;
    width: 64px;
    margin-left: 1em;
    border-radius: 1em;
}

textarea{
    width: 650px;
    height: 35px;
    background-color: rgb(37, 37, 37);
    border-radius: 1em;
    border: none;
    padding: 0.35em;
    resize: none;
    outline: none;
}

.icon{
    margin-left: auto;
    font-size: 2em;
    margin-right: 1em;
    cursor: pointer;
}

.ocultar{
    display: none;
}

.training{
    width: 100vw;
    height: 100vh;
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.botones{
    display: flex;
}

.firint{
    width: 64px;
    height: 32px;
    background-color: rgb(64, 156, 41);
    border: none;
    border-radius: 4px;
    margin: 1em;
    cursor: pointer;
}

.lastint{
    width: 64px;
    height: 32px;
    background-color: rgb(182, 36, 36);
    border: none;
    border-radius: 4px;
    margin: 1em;
    cursor: pointer;
}

.linktrain{
    background-color: rgb(37, 37, 37);
    width: 270px;
    height: 20px;
    margin-top: 2em;
    border-radius: 1em;
    padding: 1em;
}


@media only screen and (max-width: 750px) {

    .inicio{
        width: 100%;
        border-radius: 0px;
    }

    .entrada{
        width: 100%;
        margin-bottom: 0px;
    }

    .entrada input{
        width: 20%;
        border-radius: 0px;
        margin: 0px;
        background-color: rgb(11, 11, 11);
        height: 5.7em;
    }

    textarea{
        width: 80%;
        border-radius: 0;
        margin: 0px;
        height: 5em;
    }

    .human, .artemis{
        width: 300px;
    }
    
}
